<!--<h1>Appointment Calendar</h1>-->
<!--<app-calendar></app-calendar>-->

<app-layout></app-layout>


<!--<nav class="navbar navbar-expand-sm bg-black navbar-dark">-->
<!--  <ul class="navbar-nav">-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="dashboard" routerLinkActive="active" class="nav-link">Main dashboard</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="patients" class="nav-link">My Patients</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="appointments" class="nav-link">My Appointments</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="" class="nav-link">Analytics</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->

<!--<router-outlet></router-outlet>-->

<!--<app-sidebar></app-sidebar>-->

<!--<app-dashboard></app-dashboard>-->

<!--<app-create-appointment></app-create-appointment>-->

<!--<app-create-patient></app-create-patient>-->

<!--<app-patient-list></app-patient-list>-->

<!--<app-appointment-list></app-appointment-list>-->
